<div class="row justify-content-md-center mb-5">    
    <div class="col-12 col-md-6 col-xl-3 mt-5">
        <app-body-fat-list1></app-body-fat-list1>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mt-5">
        <app-body-weight-list1></app-body-weight-list1>
    </div>
    <div class="col-12 col-md-6 col-xl-3 col-large-2 mt-5">
        <app-biceps-list1></app-biceps-list1>
    </div>
    <div class="col-12 col-md-6 col-xl-3 col-large-2 mt-5">
        <app-chest-list1></app-chest-list1>
    </div>
    <div class="col-12 col-md-6 col-xl-3 col-large-2 mt-5">
        <app-hip-list1></app-hip-list1>
    </div>  
    <div class="col-12 col-md-6 col-xl-3 col-large-2 mt-5">
        <app-thigh-list1></app-thigh-list1>
    </div>
    <div class="col-12 col-md-6 col-xl-3 col-large-2 mt-5">
        <app-calf-list1></app-calf-list1>
    </div>  
    <div class="col-12 col-md-6 col-xl-3 col-large-2 mt-5"></div> 
</div>