table {
  width: 100%;
}

.mat-cell:last-child {
  width: 130px;
}

.material-icons {
  line-height: inherit;
  cursor: pointer;
}

.action-button {
  display: flex;
  justify-content: space-around;
}