<h3 class="mt-5 mb-5 h1 text-center text-primary">Tabela pomiarów</h3>
<div class="row mt-4">
  <div class="col-4">
    <app-biceps-list></app-biceps-list>
  </div>
  <div class="col-4">
    <app-body-fat-list></app-body-fat-list>
  </div>
  <div class="col-4">
    <app-body-weight-list></app-body-weight-list>
  </div>
</div>

<div class="row mt-4">
  <div class="col-4">
    <app-calf-list></app-calf-list>
  </div>
  <div class="col-4">
    <app-chest-list></app-chest-list>
  </div>
  <div class="col-4">
    <app-hip-list></app-hip-list>
  </div>
</div>

<div class="row mt-4">
  <div class="col-4">
    <app-thigh-list></app-thigh-list>
  </div>
</div>